<div class="flex flex-col justify-center h-full">
  <div class="self-center items-center flex sm:flex-row w-full md:w-5/6 xl:w-2/3">
    <img src="{{ '/img/AA-long-organge.svg' | url }}">
  </div>
  
  <!-- Den Slogan "Transparenz für Argumente" könnte man auch unter das Logo anfügen, damit hatte ich herumgespielt:
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3">
    <p class="font-bold tracking-wide text-purple-500 text-6xl"> Transparenz für Argumente!</p>
  </div>
  -->

  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="font-bold tracking-wide text-main_heavy_1 text-5xl mb-6">
        Transparenz für Argumente! 
        <!-- Brauchen wir nicht mehr: <span class="text-gray-800 font-bold tracking tracking-widest">AWE.SOME</span> -->
      </h1>
      <h2 class="font-bold tracking-wide text-4xl">
        Wir entwirren, sortieren und polieren Argumente
      </h2>
      <span class="content__container block font-light text-browngray text-2xl my-6">
        <ul class="content__container__list">
          <li class="content__container__list__item xl:pl-3">Was ist die eigentliche These?</li>
          <li class="content__container__list__item xl:pl-3">Welche Gründe stützen die These?</li>
          <li class="content__container__list__item xl:pl-3">Welche Einwände gibt es gegen die These?</li>
          <li class="content__container__list__item xl:pl-3">Worin genau widersprechen sich die Kontrahenten?</li>
          <li class="content__container__list__item xl:pl-3">Welche Prämissen in der Begründung sind kontrovers?</li>
          <li class="content__container__list__item xl:pl-3">Sind normative oder empirisch überprüfbare Prämissen kontrovers?</li>
          <li class="content__container__list__item xl:pl-3">XYZ</li>
        </ul>
      </span>
      <p class="font-bold tracking-wide text-4xl">Wir verleihen Argumentationen und Begründungen eine Struktur</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="{{ '/img/karteJ.svg' | url }}" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-main_heavy_1 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#features">
    Was wir bieten
  </a>
</div>
