<style>
  .justify-text {
    text-align: justify;
  }
</style>

<!--
<div class="flex flex-col justify-center h-full">
  <div class="self-center items-center flex sm:flex-row w-full md:w-5/6 xl:w-2/3">
    <img src="{{ '/img/AA-long-organge.svg' | url }}">
  </div>
-->

  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3">
    <p class="font-bold tracking-wide text-main_heavy_1 text-9xl text-center"> Transparenz für Argumente!</p>
  </div>

  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="font-bold tracking-wide text-4xl leading-tight">
        Wir entwirren, sortieren und polieren Argumente
      </h1>
      <h1 class="font-bold tracking-wide text-4xl mt-8 leading-tight">Wir verleihen Argumentationen und Begründungen eine Struktur</h1>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="{{ '/img/arg-analysis-structure-klein.svg' | url }}" class="w-[450px] h-[450px]">
      
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-main_heavy_1 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#features">
    Was wir bieten
  </a>
</div>
